main {
  background: rgb(53, 223, 230);
  background: linear-gradient(90deg, rgba(53, 223, 230, 1) 6%, rgba(48, 193, 124, 1) 50%, rgba(94, 225, 240, 1) 94%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}